<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InitSection" type="DCF.Lib.Configuration.InitSection, DCF.Lib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  
  <appSettings>
    <add key="ShowSQL" value="false"/>
    <add key="ShowTableContents" value="false"/>
    <!--<add key="DbInitOnly" value="true"/>
    <add key="NoDbInit" value="false"/>-->
    <add key="DbInitOnly" value="false"/>
    <add key="NoDbInit" value="true"/>
    <add key="MaxSampleIterations" value="100"/>
    <add key="ConversionDelta" value="0.1"/>
    <add key="ConversionSamplesCount" value="7"/>
    <add key="ConversionAlfa" value="0.93"/>
    <add key="ConversionTolerance" value="0.1"/>
    <add key="Experiment" value="9"/>
    <add key="DBUserName" value="boris"/>
    <add key="DBPassword" value="boris"/>
    <add key="DBName" value="guess"/>
    <!--<add key="DBName" value="example1"/>-->
  </appSettings>

  <InitSection
    NumberOfFacts="5000"
    CorrectFactsRatio="0.2"
    NumberOfCountriesWithRestrictedIncorrectFactsCount="3"
    NumberOfIncorrectFactsInUse="2"
    GenerateMayors="false"
    UserProfiles="(0.1,1.0)(0.2,0.6)(0.5,0.15)(0.2,0.0)"
    />
  <!--UserProfiles="(0.1,1.0)(0.2,0.6)(0.5,0.15)(0.2,0.0)"-->
</configuration> 