<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="InitSection" type="DCF.DemoRules.Test.InitSection, DCF.DemoRules.Test, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  
  <appSettings>
    <!-- these two keys automatically read from Logger-->
    <add key="ShowSQL" value="false"/>
    <add key="ShowTableContents" value="false"/>
    
    <add key="MaxSampleIterations" value="100"/>
    <add key="MaxCleaningIterationsPerSample" value="1"/>
    <add key="ConversionDelta" value="0.1"/>
    <add key="ConversionSamplesCount" value="7"/>
    <add key="ConversionAlfa" value="0.93"/>
    <add key="ConversionTolerance" value="0.1"/>
    <add key="Experiment" value="9"/>
    
    <add key="DBUserName" value="ult"/>
    <add key="DBPassword" value="abcde"/>
    <add key="DBName" value="triviamasster"/>
    <add key="HostName" value="boris-notebook"/>
  </appSettings>

  <InitSection
    NumberOfFacts="5000"
    NumberOfCountriesWithRestrictedIncorrectFactsCount="3"
    NumberOfIncorrectFactsInUse="2"
    GenerateBasisTables="true"
    UserProfiles="(0.1,1.0)(0.2,0.6)(0.5,0.15)(0.2,0.0)"
    ItemsDefinitionFile="C:\Users\Public\Documents\Sudies\Graduate Studies\Thesis\code\DCF\DCF.DemoRules.Test\ExternalData\Items.xml"
    TopicsDefinitionFile="C:\Users\Public\Documents\Sudies\Graduate Studies\Thesis\code\DCF\DCF.DemoRules.Test\ExternalData\Topics.xml"
    />
  <!--UserProfiles="(0.1,1.0)(0.2,0.6)(0.5,0.15)(0.2,0.0)"-->
</configuration> 